/*----------------------------------- GENERAL STYLING ----------------------------------------- */
body{
    margin: 0;
    padding: 0;
    background-color: #D1D1D1;
    color: #000000;
    font-family: "Lato", sans-serif;
    font-size: 12px;
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

h1{
    font-family: "Lato Light", sans-serif;
    font-size:  30pt;
    font-weight: normal;
    color: #ffffff;
    background-color: black;
    text-align: center;
    padding: 10px;
    width: 250px;
}
a{
    text-decoration: none;
    color: #000;
}
/*----------------------------------- HEADER STYLE ---------------------------------------*/
.header_container{
    max-width: 100%;
    min-height:  100px;
    background-color: #ffffff;
}
.logo_wrapper{
    display: block;
    float: left;
    margin-left: 30px;
    padding: 10px;
}
.logo_wrapper img {

    max-height: 80px;
    max-width: 200px;
}
.menu_wrapper{
    max-width: 650px;
    text-align:  center;
    float: right;
    margin-right: 350px;
    padding-top: 25px;
}
.menu_wrapper ul{
    list-style:  none;
    float: left;
    background-color: #ffffff;

}
.menu_wrapper ul li{
    min-width: 150px;
    float: left;
    display:  inline;
}
.menu_wrapper ul li a{
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    padding: 20px;
}
.menu_wrapper ul li:hover, .menu_wrapper ul li:active{
    border-bottom: solid;
    border-bottom-width: 5px;
    border-bottom-color: #D43149;
}
.active {
    border-bottom: solid;
    border-bottom-width: 5px;
    border-bottom-color: #D43149;
}

/*---------------------------------BODY STYLE ----------------------------------------*/

.body_container{

    margin-top: 20px;
    max-width: 1440px;
    margin: auto;
}

canvas[resize] {
    width: 100%;
    height: 100%;
}

#breadcrumbs {

    margin-top: 10px;
    padding: 5px;
    color: black;
}

.activeBreadcrumbs{
    color: #D43149;
}
.activeBreadcrumbs:hover, .activeBreadcrumbs:active{
    text-decoration: underline;
}

.tital_Container{
    width: 100%;
    float: left;
    margin-top: 20px;
    background-color: #ffffff;
}

/*-----------------------------Team.PHP STYLE----------------------------------------------------*/
.info_About_Container{

    width: 100%;
    margin-top: 20px;

}

.info_About_Wrapper{
    float: left;
    position: relative;
    max-height: 500px;

}

.image_Wrapper{
    position: relative;
}
.infoAboutImage{

    float: left;
    display: block;
    max-width: 40%;
}
.infoAboutImage img{
    width: 100%;
    height: 100%;
}

.infoAboutText{

    display: block;
    float: left;
    color: #ffffff;
    max-width: 50%;
    padding: 20px 50px 20px 50px;
}
.infoAboutText h2{

    font-size: 36pt;
    text-align: center;
}

.infoAboutText p{

    font-weight: 300;
    font-size: 16pt;
}

.infoAboutText ul{

    font-weight: 300;
    font-size: 18pt;
}

.infoAboutText ul li{

    padding: 10px;
}

.styleOne{
    background-color: #D43149 ;
}

.styleTwo{

    background-color: #232c3c;
}

/*---------------------------------Contact.PHP STYLE ------------------------------------*/
.image_Banner_Container{

    width: 100%;
    margin-top: 20px;

}
.image_Banner_Wrapper{

    position: relative;
    float: left;
    max-width: 100%;
    width: auto;


}
.image_Banner_Wrapper img{
    width: 100%;
    height: 100%;
}
.image_Banner_Container h1{

    position: absolute;
    top: 450px;
    z-index: 25;
    margin-left: 200px;
    width: auto;
}

.tital_Container ul{

    color: #000000;
    font-size: 16pt;
    list-style: square;
    list-style-image: url("");
    width: 80%;
    margin-left: 100px;
}
.tital_Container ul li{

    padding: 20px;
}

.tital_Container table{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.tital_Container table label{

    font-size: 14pt;
}
.tital_Container table input{
    padding: 5px;
    border: 2px #000000 solid;
    width: 50%;
}
.tital_Container .button{
    padding: 10px;
    float: right;
    width: 100px;
    background-color: #D43149;
    color: #ffffff;
}

/*-----------------------------------Locatie.PHP STYLE -------------------------------------*/
#map{
    width: 100%;
    height: 700px;
}

#calendar{
    width: 900px;
    margin: 0 auto;
    font: 12px "Lato", sans-serif;
}
.l_text{
    font-size: 12pt;
    margin-left: 50px;
    padding: 10px;
}

/*---------------------------------FOOTER STYLE ----------------------------------------*/

.footer_container{
    float: left;
    width: 100%;
    min-height: 500px;
    background-color: #000000;
    margin-top: 100px;

}

.footer_wrapper{
    position: relative;
    padding: 50px;
    max-width: 1440px;
    margin: 0 auto;
}
.footer_section{
    width: 33%;
    color: #ffffff;
    float: left;
}
.footer_section h2{

    border-bottom: 2px #333333 solid;
    width: 20%;
    text-align: center;
    color: #D43149;
}
.footer_section ul{
    list-style: none;
    padding: 0%;
}
.footer_section ul li{
    padding: 5px;
}
.footer_section a{
    color: #ffffff;
    font-size: 14pt;
}
.footer_section a:hover, .footer_section a:active{
    color: #D43149;
}

/**************************************LOGIN STYLE**************************************/


/**************************************DASHBOARD STYLE**********************************/
#profile{

    float: right;
    padding: 20px;
}
#welcome{

    margin-right: 50px;
}
#logout{
    background-color: #D43149;

}
#logout:hover{
    background-color: #d46569;
}

.dropbtn {
    background-color: #000000;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #d46569;
}

.tabel_wrapper{

}
.tabel{
    width:  100%;
}

.tabel thead{
    background-color: #d46569;
    padding:  15px 7px;

}
.tabel thead tr th{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}
.tabel tbody tr td{
    padding: 13px;
    text-align: center;
}

.detailBtn{
    padding: 10px;
    background: #DF4949;
    border:  none;
}
.detailBtn:hover{
    background: #DF5849;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.64);
    box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.64);
}

.submitBtn{
    display: block;
    margin-top: 2.5em;
    padding: 1.5em;
    width:  100%;
    border: none;
    background: #E75854;
    color: #F9F6E5;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 1.25pt;
}
.submitBtn:hover{
    background: #A50A05;
}
.uploadBtn{
    display: block;
    margin-top: 2.5em;
    padding: 1.5em;
    width:  100%;
    border: none;
    background: #E27A3F;
    color: #F9F6E5;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    font-size: 1.25;
}
.uploadBtn:hover, .uploadBtn:active, .uploadBtn:visited{
    background: #286F81;
}

/*********************************FONT ICON STYLE AND SETUP**************************************/
@font-face {
    font-family: 'f';
    src:    url('../fonts/f.eot?ieykzn');
    src:    url('../fonts/f.eot?ieykzn#iefix') format('embedded-opentype'),
    url('../fonts/f.ttf?ieykzn') format('truetype'),
    url('../fonts/f.woff?ieykzn') format('woff'),
    url('../fonts/f.svg?ieykzn#f') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'f' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e900";
}
.icon-pencil:before {
    content: "\e905";
}
.icon-image:before {
    content: "\e90d";
}
.icon-profile:before {
    content: "\e923";
}
.icon-file-text2:before {
    content: "\e926";
}
.icon-clock:before {
    content: "\e94e";
}
.icon-clock2:before {
    content: "\e94f";
}
.icon-floppy-disk:before {
    content: "\e962";
}
.icon-user-plus:before {
    content: "\e973";
}
.icon-cog:before {
    content: "\e994";
}
.icon-hammer:before {
    content: "\e996";
}
.icon-enter:before {
    content: "\ea13";
}
.icon-exit:before {
    content: "\ea14";
}
